*.bun-build
*.doc*
*.log
*.pdf
*.pem
*.pt
*cache*
.DS_Store
.cache
.env
.env*.local
.next/
.nitro/
.omc
.output/
.pnp
.pnp.js
.tmp/
.turbo
.venv/
.vercel
.wxt
__pycache__
build
bun.lock
coverage
dist/
exp/
metadata.json
next-env.d.ts
node_modules
out/
output/
playwright-report/
test-results/